<div class="mt-5 row">
  <h1> Research Contributions </h1>

  <div class="mt-4 col-md-6 col-12">
    <h4> {{researchPaper4.title}} </h4>
    <div><span>Published Venue:</span> {{researchPaper4.venue}}</div>
    <div><span>Date of Publication: </span> {{researchPaper4.year}} - {{researchPaper4.month}} </div>
  </div>
  <div class="mt-4 col-md-6 col-12">
    <h4> {{researchPaper3.title}} </h4>
    <div><span>Published Venue:</span> {{researchPaper3.venue}}</div>
    <div><span>Date of Publication: </span> {{researchPaper3.year}} - {{researchPaper3.month}} </div>
  </div>
  <div class="mt-4 col-md-6 col-12">
    <h4> {{researchPaper2.title}} </h4>
    <div><span>Published Venue:</span> {{researchPaper2.venue}}</div>
    <div><span>Date of Publication: </span> {{researchPaper2.year}} - {{researchPaper2.month}} </div>
  </div>
  <div class="mt-4 col-md-6 col-12">
    <h4> {{researchPaper1.title}} </h4>
    <div><span>Published Venue:</span> {{researchPaper1.venue}}</div>
    <div><span>Date of Publication: </span> {{researchPaper1.year}} - {{researchPaper1.month}} </div>
  </div>
  <div class="mt-4 col-md-6 col-12">
    <h4> {{researchPaper0.title}} </h4>
    <div><span>Published Venue:</span> {{researchPaper0.venue}}</div>
    <div><span>Date of Publication: </span> {{researchPaper0.year}} - {{researchPaper0.month}} </div>
  </div>



</div>


