
  <div class="mt-5 row">
    <div class="col-lg-4 col-12">
      <img src = "./assets/portraits/portrait_0.jpg"
            class = "rounded" alt = "Rounded Image" width = 320px height = 640px>
    </div>

    <div class="col-lg-8 col-12">
      <p>
        Greetings! My name is Sangwon and I am from Seoul, South Korea. I currently live in Nashville, Tennessee where
        I am currently studying as a PhD student at Vanderbilt University under the guidance of Matthew Berger.
        My study is mainly focused on two topics. The first topic is on interpretability of machine learning models via
        visualization, and the second topic is on automation of data visualizations.
      </p>
    </div>
  </div>

